{% load query_transform %}

{% if is_paginated %}
    <div class="col-2 mx-auto">
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_transform request page=page_obj.previous_page_number %}"
                       aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                    </a>
                </li>
            {% endif %}
            <li class="page-item active">
              <a class="page-link" href="javascript:;"><span class="text-white text-xs">{{ page_obj.number }}</span></a>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_transform request page=page_obj.next_page_number %}"
                       aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
