{% load query_transform %}

{% if is_paginated %}
    <div class="col-2 mx-auto">
        <ul class="pagination pagination-primary m-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_transform request page=page_obj.previous_page_number %}"
                       aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                    </a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="javascript:;">{{ page_obj.number }} / {{ paginator.num_pages }}</a>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_transform request page=page_obj.next_page_number %}"
                       aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
