{% extends 'layouts/base-presentation.html' %}

{% block title %} Positions {% endblock title %}

{% block content %}
    <div class="container" style="margin-top: 100px">
        <h1 class="text-primary">
            Position List
            <a href="{% url 'home:position-create' %}" class="btn bg-gradient-primary w-auto me-1 mb-0">
                +Add
            </a>

        </h1>

        {% if position_list %}
            <table class="table table-hover">
                <thead style="background: #F1F1F1">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                </thead>

                {% for position in position_list %}
                    <tr>
                        <td>
                            {{ position.id }}
                        </td>
                        <td>
                            {{ position.name }}
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark w-auto me-1 mb-0" data-bs-toggle="modal"
                                    data-bs-target="#Modal{{ position.id }}">
                                X
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="Modal{{ position.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">DELETE POSITION</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete the following position?<br>
                                            <strong>{{ position.name }}</strong>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">
                                                No
                                            </button>
                                            <a href="{% url "home:position-delete" pk=position.id %}"
                                               class="btn bg-gradient-primary">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    <td>
                            <button type="button"
                                    onclick="window.location.href='{% url 'home:position-update' pk=position.id %}';"
                                    class="btn bg-gradient-light">
                                ✔
                            </button>
                        </td>
                    </tr>

                {% endfor %}
            </table>

        {% else %}
            <p>There are no positions yet.</p>
        {% endif %}
    </div>


{% endblock %}