{% extends 'layouts/base-presentation.html' %}
{% load crispy_forms_filters %}

{% block title %} Tasks {% endblock title %}

{% block content %}

    <div class="container" style="margin-top: 100px">
        <h1 class="text-primary">
            Task List
            <a href="{% url 'home:task-create' %}" class="btn bg-gradient-primary w-auto me-1 mb-0">
                +Add
            </a>
        </h1>
        <br>
        <form action="" method="get" class="d-flex align-items-center flex-nowrap">
            {{ search_form|crispy }}
            <button class="btn btn-outline-primary btn-rounded btn-sm my-0 inline" type="submit">Search</button>
        </form>
        <br>

        {% if task_list %}
            <table class="table table-hover">
                <thead style="background: #F1F1F1; border-radius: 1rem">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Task Type</th>
                    <th>Assignees</th>
                </tr>
                </thead>
                <tbody>
                {% for task in task_list %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
                        <td>{{ task.deadline }}</td>
                        <td>{{ task.is_completed|yesno:"Done, Not done" }}</td>
                        <td>
                            {% if task.priority == 1 %}
                                <span class="badge bg-gradient-danger">Urgent</span>
                            {% elif task.priority == 2 %}
                                <span class="badge bg-gradient-dark">High</span>
                            {% elif task.priority == 3 %}
                                <span class="badge bg-gradient-secondary">Medium</span>
                            {% elif task.priority == 4 %}
                                <span class="badge bg-gradient-light text-dark">Low</span>
                            {% endif %}
                        </td>
                        <td>{{ task.task_type }}</td>
                        <td>{% for worker in task.assignees.all %}{{ worker.username }}<br> {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>NO TASKS</p>
        {% endif %}
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
