{% extends 'layouts/base-presentation.html' %}
{% load crispy_forms_filters %}

{% block title %} {{ object|yesno:"Update,Create" }} Task {% endblock title %}

{% block content %}
  <div class="container py-7">
  <h4 class="text-primary">{{ object|yesno:"Update,Create" }} Task</h4>
  <form action="" method="post" novalidate>
    {% csrf_token %}

    {{ form|crispy }}

    <input type="submit" value="Submit" class="btn bg-gradient-primary w-auto me-1 mb-0">
  </form>
  </div>
{% endblock %}
