{% extends 'layouts/base-presentation.html' %}
{% load static %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container pt-6">

    <div class="page-header min-height-300 border-radius-xl mt-4"
         style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved0.jpg'); background-position-y: 50%;">
      <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
      <div class="row gx-4">

        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              Task: {{ task.name }}
            </h5>
            <p class="mb-0 font-weight-bold text-xs">
              {{ task.is_completed|yesno:"COMPLETED ✔, IN PROGRESS..." }}
            </p>
          </div>
        </div>
        <div class="col-md-7 text-end">
                {% if user in task.assignees.all %}
                <a href="{% url 'home:assign-to-task' pk=task.id %}">
                Remove me from this task <i class="fas fa-user-edit text-secondary text-sm"> </i>
                </a>
              {% else %}
                <a href="{% url 'home:assign-to-task' pk=task.id %}">
                  Assign me to this task <i class="fas fa-user-edit text-secondary text-sm"> </i>
                </a>
              {% endif %}
              </div>
{#        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">#}
{#          <div class="nav-wrapper position-relative end-0">#}
{#            <ul class="nav nav-pills nav-fill p-1 bg-transparent">#}
{#              {% if user in task.assignees.all %}#}
{#              <li class="nav-item">#}
{##}
{#                <a href="{% url 'home:assign-to-task' pk=task.id %}">#}
{#                Remove me from this task <i class="fas fa-user-edit text-secondary text-sm"> </i>#}
{#                </a>#}
{#              {% else %}#}
{#                <a href="{% url 'home:assign-to-task' pk=task.id %}">#}
{#                  Assign me to this task <i class="fas fa-user-edit text-secondary text-sm"> </i>#}
{#                </a>#}
{##}
{#              </li>#}
{#              {% endif %}#}
{##}
{#            </ul>#}
{#          </div>#}
        </div>
      </div>
    </div>

  </div>

  <div class="container py-4">

    <div class="row">
      <div class="col-12 col-xl-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-8 d-flex align-items-center">
                <h5 class="text-primary mb-0">Details</h5>
              </div>
              <div class="col-md-4 text-end">
                <a href="{% url 'home:task-update' pk=task.id %}">
                  <i class="fas fa-user-edit text-secondary text-sm" ></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <p class="text-xs text-uppercase font-weight-bold"><strong>Task Type:</strong><span
                class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7"> {{ task.task_type }}</span>
            </p>
            <p class="text-xs text-uppercase font-weight-bold"><strong>Deadline:</strong> {{ task.deadline }}</p>
            <p class="text-xs text-uppercase font-weight-bold">
              <strong>Status:</strong> {{ task.is_completed|yesno:"DONE, NOT DONE" }}</p>
            <p class="text-xs text-uppercase font-weight-bold"><strong>Priority:</strong>
              {% if task.priority == 1 %}
                <span class="badge bg-gradient-primary">Urgent</span>
              {% elif task.priority == 2 %}
                <span class="badge bg-gradient-dark">High</span>
              {% elif task.priority == 3 %}
                <span class="badge bg-gradient-secondary">Medium</span>
              {% elif task.priority == 4 %}
                <span class="badge bg-gradient-light text-dark">Low</span>
              {% endif %}
            </p>

            {#                  <ul class="list-group">#}
            {#                    <li class="list-group-item border-0 px-0">#}
            {#                      <div class="form-check form-switch ps-0">#}
            {#                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>#}
            {#                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Email me when someone follows me</label>#}
            {#                      </div>#}
            {#                    </li>#}
            {#                    <li class="list-group-item border-0 px-0">#}
            {#                      <div class="form-check form-switch ps-0">#}
            {#                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault1">#}
            {#                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault1">Email me when someone answers on my post</label>#}
            {#                      </div>#}
            {#                    </li>#}
            {#                    <li class="list-group-item border-0 px-0">#}
            {#                      <div class="form-check form-switch ps-0">#}
            {#                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2" checked>#}
            {#                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Email me when someone mentions me</label>#}
            {#                      </div>#}
            {#                    </li>#}
            {#                  </ul>#}
            {#                  <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4">Application</h6>#}
            {#                  <ul class="list-group">#}
            {#                    <li class="list-group-item border-0 px-0">#}
            {#                      <div class="form-check form-switch ps-0">#}
            {#                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault3">#}
            {#                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault3">New launches and projects</label>#}
            {#                      </div>#}
            {#                    </li>#}
            {#                    <li class="list-group-item border-0 px-0">#}
            {#                      <div class="form-check form-switch ps-0">#}
            {#                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault4" checked>#}
            {#                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault4">Monthly product updates</label>#}
            {#                      </div>#}
            {#                    </li>#}
            {#                    <li class="list-group-item border-0 px-0 pb-0">#}
            {#                      <div class="form-check form-switch ps-0">#}
            {#                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault5">#}
            {#                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault5">Subscribe to newsletter</label>#}
            {#                      </div>#}
            {#                    </li>#}
            {#                  </ul>#}
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-8 d-flex align-items-center">
                <h5 class="text-primary mb-0">Description</h5>
              </div>
              </div>
          </div>
          <div class="card-body p-3">
            <p class="text-s font-weight-bold">{{ task.description }}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Assigned to</h6>
          </div>
          <div class="card-body p-3">
            <ul class="list-group">
              {% for worker in task.assignees.all %}
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                  <div class="avatar me-3">
                    {% if  worker.profile_image %}
                      <img src="{{ MEDIA_URL }}{{ worker.profile_image.url }}"
                           alt="kal" class="border-radius-lg shadow">
                    {% else %}

                      <img src="{% static 'assets/img/default_profile_image.jpeg' %}" class="avatar avatar-sm me-3"
                           alt="user1">

                    {% endif %}
                    {#                        <img src="{{ ASSETS_ROOT }}/img/kal-visuals-square.jpg" alt="kal" class="border-radius-lg shadow">#}
                  </div>
                  <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ worker.first_name }} {{ worker.last_name }}</h6>
                    <p class="mb-0 text-xs">{{ worker.position }}</p>
                  </div>
                  {#                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>#}
                </li>
              {% endfor %}
              {#                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">#}
              {#                      <div class="avatar me-3">#}
              {#                        <img src="{{ ASSETS_ROOT }}/img/marie.jpg" alt="kal" class="border-radius-lg shadow">#}
              {#                      </div>#}
              {#                      <div class="d-flex align-items-start flex-column justify-content-center">#}
              {#                        <h6 class="mb-0 text-sm">Anne Marie</h6>#}
              {#                        <p class="mb-0 text-xs">Awesome work, can you..</p>#}
              {#                      </div>#}
              {#                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>#}
              {#                    </li>#}
              {#                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">#}
              {#                      <div class="avatar me-3">#}
              {#                        <img src="{{ ASSETS_ROOT }}/img/ivana-square.jpg" alt="kal" class="border-radius-lg shadow">#}
              {#                      </div>#}
              {#                      <div class="d-flex align-items-start flex-column justify-content-center">#}
              {#                        <h6 class="mb-0 text-sm">Ivanna</h6>#}
              {#                        <p class="mb-0 text-xs">About files I can..</p>#}
              {#                      </div>#}
              {#                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>#}
              {#                    </li>#}
              {#                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">#}
              {#                      <div class="avatar me-3">#}
              {#                        <img src="{{ ASSETS_ROOT }}/img/team-4.jpg" alt="kal" class="border-radius-lg shadow">#}
              {#                      </div>#}
              {#                      <div class="d-flex align-items-start flex-column justify-content-center">#}
              {#                        <h6 class="mb-0 text-sm">Peterson</h6>#}
              {#                        <p class="mb-0 text-xs">Have a great afternoon..</p>#}
              {#                      </div>#}
              {#                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>#}
              {#                    </li>#}
              {#                    <li class="list-group-item border-0 d-flex align-items-center px-0">#}
              {#                      <div class="avatar me-3">#}
              {#                        <img src="{{ ASSETS_ROOT }}/img/team-3.jpg" alt="kal" class="border-radius-lg shadow">#}
              {#                      </div>#}
              {#                      <div class="d-flex align-items-start flex-column justify-content-center">#}
              {#                        <h6 class="mb-0 text-sm">Nick Daniel</h6>#}
              {#                        <p class="mb-0 text-xs">Hi! I need more information..</p>#}
              {#                      </div>#}
              {#                      <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>#}
              {#                    </li>#}
            </ul>
          </div>
        </div>
      </div>
{% endblock %}