{% extends 'layouts/base-presentation.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %} Tasks {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container py-6">

    <div class="row my-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h5>Tasks list
                  <a href="{% url 'home:task-create' %}">
                    +
                  </a>
                </h5>

                <form action="" method="get" class="d-flex align-items-center flex-nowrap">
                  {% csrf_token %}
                  {{ search_form|crispy }}
                  <button class="btn btn-outline-primary  align-items-center" type="submit"><i class="fas fa-search"
                                                                                               aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive">
              {% if task_list %}
                <table class="table table-hover align-items-center mb-0">
                  <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Name</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Task Type</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Assigned to
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Status
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                      Priority
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                      Deadline
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Delete
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for task in task_list %}
                    <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6><a class="mb-0 text-sm"><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <span class="mb-0 text-sm">{{ task.task_type }}</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="avatar-group mt-2">
                        {% if task.assignees %}
                          {% for worker in task.assignees.all %}
                            {% if  worker.profile_image %}
                              <a href="{{ worker.get_absolute_url }}" class="avatar avatar-xs rounded-circle"
                                 data-bs-toggle="tooltip" data-bs-placement="bottom"
                                 title="{{ worker.first_name }} {{ worker.last_name }}">
                                <img src="{{ MEDIA_URL }}{{ worker.profile_image.url }}" alt="team1">
                              </a>
                            {% else %}
                              <a href="{{ worker.get_absolute_url }}" class="avatar avatar-xs rounded-circle"
                                 data-bs-toggle="tooltip" data-bs-placement="bottom"
                                 title="{{ worker.first_name }} {{ worker.last_name }}">
                                <img src="{% static 'assets/img/default_profile_image.jpeg' %}" alt="team1">
                              </a>
                            {% endif %}
                          {% endfor %}
                        {% endif %}

                      </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold"> {{ task.is_completed|yesno:"Done, Not done" }} </span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      {% if task.priority == 1 %}
                        <span class="badge bg-gradient-primary">Urgent</span>
                      {% elif task.priority == 2 %}
                        <span class="badge bg-gradient-dark">High</span>
                      {% elif task.priority == 3 %}
                        <span class="badge bg-gradient-secondary">Medium</span>
                      {% elif task.priority == 4 %}
                        <span class="badge bg-gradient-light text-dark">Low</span>
                      {% endif %}
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="mb-0 text-sm">{{ task.deadline }}</span>
                    </td>
                    <td class="align-middle text-center">
                      <button type="button" class="btn border-0 w-auto mb-0"
                              data-bs-toggle="modal"
                              data-bs-target="#Modal{{ task.id }}">
                        X
                      </button>
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="Modal{{ task.id }}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">DELETE
                              TASK</h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to remove
                            <strong>{{ task.name }}</strong> from the list of
                            tasks?
                          </div>
                          <div class="modal-footer justify-content-between">
                            <button type="button" class="btn bg-gradient-dark"
                                    data-bs-dismiss="modal">No
                            </button>
                            <a href="{% url "home:task-delete" pk=task.id %}"
                               class="btn bg-gradient-primary">Yes</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  </tr>
                  </tbody>
                </table>
              {% else %}
                <p>NO TASKS</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
